.report-box{

    background:white;
    width:400px;
    margin-top:30px;
    padding:25px;
    border-radius:10px;
    box-shadow:0 3px 8px rgba(0,0,0,.1);

}

.report-box p{

    font-size:18px;
    margin:15px 0;

}