table{

    width:100%;
    border-collapse:collapse;
    margin-top:20px;
    background:white;

}

th,td{

    border:1px solid #ddd;
    padding:15px;
    text-align:center;

}

th{

    background:#3498db;
    color:white;

}